In [ ]:
#Assigning Values to Variables
counter = 100 # An integer assignment 
miles = 1000.0 # A floating point 
name = "John" # A string

In [ ]:
print (counter) 
print (miles) 
print (name)

100
1000.0
John

In [ ]:
print(type(counter))

<class 'int'>

In [ ]:
#Create a variable name and assign your name to that variable created

In [ ]:
print("Type of variable counter: ",type(counter))
print("Type of variable miles: ",type(miles))
print("Type of variable name: ",type(name))

Type of variable counter:  <class 'int'>
Type of variable miles:  <class 'float'>
Type of variable name:  <class 'str'>

In [ ]:
#All three variables are assigned to the same memory location
a = b = c = 1

In [ ]:
print(a)
print(b)
print(c)

1
1
1

In [ ]:
#id gives the unique identification for each variable
#The id() function returns a unique id for the specified object
print(id(a))
print(id(b))
print(id(c))

94672597727744
94672597727744
94672597727744

In [ ]:
a,b,c = 1,2,"john"

In [ ]:
print(a)
print(b)
print(c)

1
2
john

In [ ]:
print(id(a))
print(id(b))
print(id(c))

94672597727744
94672597727776
140682150967088

In [ ]:
#You can delete a single object or multiple objects by using the del statement
del a
del b,c

In [ ]:
#The variable is deleted, so the exectution will give error
print(id(a))
print(id(b))
print(id(c))

NameError: ignored

In [ ]:
#Numbers
int1 = 10
float1 = 15.20
complex1 = 3.14j

In [ ]:
print(type(int1))
print(type(float1))
print(type(complex1))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#In Python3 int is upgraded to long by default which means that all the integers are long in Python3

In [ ]:
#Stings in Python
str1 = 'Hello World!'
print (str1) # Prints complete string 
print (str1[0]) # Prints first character of the string 
print (str1[2:5]) # Prints characters starting from 3rd to 5th 
print (str1[2:]) # Prints string starting from 3rd character
print (str1[:3]) 
print (str1 * 2) # Prints string two times 
print (str1 + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [ ]:
#Create first_name and last_name from the variable which has you full_name
full_name = 'Mohammed Ismail'
first_name = full_name[0:8]
print(first_name)

Mohammed

In [ ]:
# 1. Indexing starts at 0
# 2. Ending index is not included
print (str1[1:3])

el

In [ ]:
H e l l o
0 1 2 3 4

In [ ]:
#List in Python
list1 = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john'] 
print (list1) # Prints complete list
print (list1[0]) # Prints first element of the list 
print (list1[1:3]) # Prints elements starting from 2nd till 3rd 
print (list1[2:]) # Prints elements starting from 3rd element 

print (str1[-2:]) # - means from end
print (tinylist * 2) # Prints list two times 
print (list1 + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
56
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [ ]:
#Create a list with all the programming languages and subset it based on the programming languages learnt so far
programming_languages = ['sql', 'python', 'java']
print(programming_languages[0:2])

['sql', 'python']

In [ ]:
str1 = '123456'
print (str1[0:6:1]) # [start, end, step] 
print (str1[0:6:2]) # [start, end, step] 
print (str1[5:1:-1]) # [start, end, step]

123456
135
6543

In [ ]:
#Create a string with numbers from 0 to 9 and print all even numbers

In [ ]:
tuple1 = ( 'abcd', 786 , 2.23, 'john', 70.2 ) 
tinytuple = (123, 'john') 
print (tuple1) # Prints the complete tuple 
print (tuple1[0]) # Prints first element of the tuple 
print (tuple1[1:3]) # Prints elements of the tuple starting from 2nd till 3rd
print (tuple1[2:]) # Prints elements of the tuple starting from 3rd element 
print (tinytuple * 2) # Prints the contents of the tuple twice 
print (tuple1 + tinytuple) # Prints concatenated tuples

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [ ]:
#Lists are mutable, tuples are immutable i.e cannot be changed
list1[2] = 1000 # Valid syntax with list
tuple1[2] = 1000 # Invalid syntax with tuple

In [ ]:
dict1 = {}
dict1['key1'] = "This is value one" 
dict1['key2'] = "This is value two" 

tinydict = {'name': 'john','code':6734, 'dept': 'sales'} 

print (dict1['key1']) # Prints value for 'one' key 
print (dict1['key2']) # Prints value for 2 key 
print (tinydict) # Prints complete dictionary 
print (tinydict.keys()) # Prints all the keys
print (tinydict.values()) # Prints all the values

This is value one
This is value two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [ ]:
#Dict with all the programming languages as the keys and expertise as the values
#Example: 'Sql' is the key, value is 'intermediate level'
dict2 = {'SQl': 'intermediate level','Python':'expert level'} 
dict2['Python']

'expert level'

In [ ]:
#Converting integer to string
counter = 100
print(type(counter))

string_counter = str(counter)
print(type(string_counter))

<class 'int'>
<class 'str'>

In [ ]:
#Converting integer to string
string_counter = '100'
print(type(string_counter))

int_counter = int(string_counter)
print(type(int_counter))

<class 'str'>
<class 'int'>

In [ ]:
#Taking user input
print("enter a number between 1 and 10")
a = input()
c = int(a) + 1
print("Incremented input: ", c)
print("Variable type: ", type(c))

enter a number between 1 and 10
3
Incremented input:  4
Variable type:  <class 'int'>

In [ ]:
#Do the same operation without converting the variable 'a' to integer

In [ ]:
#Printing question, taking input and converting into integer
a = int(input("enter a number between 1 and 10 - "))
print("user input: ", a)
print("user input type: ", type(a))

enter a number between 1 and 10 - 3
user input:  3
user input type:  <class 'int'>

Assignments:
1. Algorith: Write step by step instructions to perform addition of two numbers given by a user
2. FLow Chart: Draw a flow chart to check if the lamp is working or not
3. Program: Write a code to create different types of variables to store various values - Numbers, Lists, Tuples, Dictionay
4. String slicing and subsetting to a string: "This is python programming"
  1. Print element at position 5, position 2 to 6, position 3 to 6
  2. Print element at position 2, 4, 6, 8, position 5 till end
  3. Print 5 elements from end (Hint: use - sign to get position from end)
  4. Print elements in reverse order (Hint: use step size as -1 to get reverse example: str1[::-1])
  8. Print elements at position 5 from end till position 3 from end
5. list operations = ['first', 'second', 3, 4, 5.0, 6.0, 'seven', 'eight']
  1. Print the list
  2. Do slicing and dicing on the list (selecting different subsets)
6. Write a code to take two numbers as input from user and display the sum of those two numbers (the input function can be used to take input from user)
7. Write a code to take a character from user and print the 3rd next character

In [ ]:
#Eval function: Optional
evaluate = 'x*(x+1)*(x+2)'
print(evaluate)
print(type(evaluate))
 
x = 3
print(type(x))
 
expression = eval(evaluate)
print(expression)
print(type(expression))

x*(x+1)*(x+2)
<class 'str'>
<class 'int'>
60
<class 'int'>

In [ ]:
print(eval('1+1'))

2