In [ ]:
#Python Arithmetic Operators
a = 10
b = 20
print("Addition: ",a+b) #Addition
print("Subtraction: ",a-b) #Subtraction
print("Multiplication: ", a*b) #Multiplication
print("Division: ", a/b) #Division
print("Power: ", a**b) #Power
print("Floor division: ", a//b) #Floor division
print("Reminder: ", a%b) #Reminder

Addition:  30
Subtraction:  -10
Multiplication:  200
Division:  0.5
Power:  100000000000000000000
Floor division:  0
Reminder:  10

In [ ]:
#Python Comparison Operators
print("Equality: ",a==b) #Equality
print("Not Equality: ", a!=b) #Not Equality
print("Less than: ", a<b) #Less than
print("Greater than: ", a>b) #Greater than
print("Less than equals to: ", a<=b) #Less than equals to
print("Greater than equal to: ", a>=b) #Greater than equal to

Equality:  False
Not Equality:  True
Less than:  True
Greater than:  False
Less than equals to:  True
Greater than equal to:  False

In [ ]:
#Python Assignment Operators
a = 10
b = 20
c = a + b
print(c)
c += a
print(c)
c -= a
print(c)

#Do Assignment operators using multiplication and assignment

30
40
30

In [ ]:
# Python Bitwise Operators
a = 60
b = 13
print(bin(a)) #Print value a in bits format
print(bin(b))
print(bin(a & b))
print(bin(a | b))
print(bin(a ^ b))
print(bin(~a))
print(bin(a << 2))
print(bin(a >> 2))

0b111100
0b1101
0b1100
0b111101
0b110001
-0b111101
0b11110000
0b1111

In [ ]:
# Python Logical Operators
a = True
b = False
print(a and b)
print(a or b)
print(not(a and b))

False
True
True

In [ ]:
#what is the value of false and false, false or false, both of these with a not operator

In [ ]:
# Python membership Operators
list1 = [1,2,3,4,5]
x = 2
y = 7
print(x in list1)
print(y in list1)
print(x not in list1)
print(y not in list1)

True
False
False
True

In [ ]:
#Check if 'sql' is present in the list of programming languages that you have created

In [ ]:
# Python Identity Operators
a = 'abcd'
b = 'abcd'
print(id(a))
print(id(b))
print(a is b)
print(a is not b)
print(id(a) == id(b))

140287884590000
140287884590000
True
False
True

In [ ]:
#Check if the identity of the first_name and last_name is same or not

In [ ]:
print("enter a number between 1 and 10")
a = input()
c = int(a) + 1
print("user input: ", c)
print("user input type: ", type(c))

enter a number between 1 and 10
2
user input:  3
user input type:  <class 'int'>

In [ ]:
#Printing question, taking input and converting into integer
a = int(input("enter a number between 1 and 10"))
print("user input: ", a)
print("user input type: ", type(a))

enter a number between 1 and 102
user input:  2
user input type:  <class 'int'>

Assignment:
Operators
1. write a program which will ask the user to enter marks for math, science, english and hindi and print total marks and percentage marks
2. Write a program of ATM machine which will ask the user withdrawal amount and notes to be disbursed from 2000,500,100,50,20,10 bundles. Example what notes if user withdraws Rs 2680
3. Write a program to illustrate 'in' operator. Find if there is vovel in a string
4. Write a program to understand operator precedence, like an equation: (v+w) * x / y, try more such equations
5. Write a program to check if the number is divisible by another number
6. The mean of 40 number is 38. Later on i realized, i have misread number 56 as 36. FInd the correct mean of the numbers
7. Three cyclists c1, c2 and c3 are riding at the speed 15,17 and 16 Km/h. Find the average and compare which cyclist is riding slower than the average speed and which cyclist faster than the average

The mean of 40 number is 38. Later on i realized, i have misread number 56 as 36. FInd the correct mean of the numbers
Algorithm:
1. total = 40*38
2. new_total = total + (56-36)
3. new mean = new_total / 40

ATM machine Steps
1. Divide the number by 2000, check the quotient and remainder
2. Subtract the number by 2000*quotient
3. Divide the remaining number by 500, check quotient and remainder
3. COntinue

In [ ]:
input = 3000
print("Number of 2000 notes: ", input//2000)
rem1 = input%2000

print("Number of 500 notes: ", rem1//500)

Number of 2000 notes:  1
Number of 500 notes:  2

In [ ]:
c1 = 15
c2 = 17
c3 = 16
avg = (c1+c2+c3)/3
print("C1 is cycling with speeds greater than average: ", c1>avg)

C1 is cycling with speeds greater than average:  False