Lists

In [ ]:
#Accessing Values in Lists
list1 = ['phy', 'Che', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  phy
list2[1:5]:  [2, 3, 4, 5]

In [ ]:
#Updating Lists
print ("Value available at index 2 : ")
print (list1[2])

list1[2] = 2001
print ("New value available at index 2 : ")
print (list1[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [ ]:
#Indexing and Slicing
print (list1)
print (list1[1])
print (list1[-1])
print (list1[1:])

['phy', 'Che', 2001, 2000]
Che
2000
['Che', 2001, 2000]

In [ ]:
#This method returns the number of elements in the list
len(list1)

4

In [ ]:
#Concatenation
print(list1+list2)

['phy', 'Che', 2001, 2000, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Repetition
print(list1*2)

['phy', 'Che', 2001, 2000, 'phy', 'Che', 2001, 2000]

In [ ]:
#Membership
print("2001 in list1: ", 2001 in list1)

2001 in list1:  True

In [ ]:
#Iteration
for i in list1:
  print(i)

phy
Che
2001
2000

In [ ]:
#This method returns the elements from the list with maximum value
print(list2)
print(max(list2))

list3 = ['xyz', 'zara', 'abc']
print(list3)
print(max(list3))

[1, 2, 3, 4, 5, 6, 7]
7
['xyz', 'zara', 'abc']
zara

In [ ]:
#max is not supported between instances of 'int' and 'str'
print(list1)
print(max(list1))

['phy', 'Che', 2001, 2000]

TypeError: ignored

In [ ]:
#Returns item from the list with min value
print(min(list2))
print(min(list3))

1
abc

In [ ]:
#appends a passed obj into the existing list
list1 = ['phy', 'Che', 1997, 2000]
print(list1)
list1.append( 2009 )
print(list1)

['phy', 'Che', 1997, 2000]
['phy', 'Che', 1997, 2000, 2009]

In [ ]:
#This method returns count of how many times obj occurs in list.
print(list1)
print(list1.count(2000))

['phy', 'Che', 1997, 2000, 2009]
1

In [ ]:
#Extend: add the content to existing list
list1 = ['phy', 'Che', 1997, 2000]
print(list1)
list4 = ['math',2002];
list1.extend(list4)
print(list1)

['phy', 'Che', 1997, 2000]
['phy', 'Che', 1997, 2000, 'math', 2002]

In [ ]:
#Append: add the content to existing list
list1 = ['phy', 'Che', 1997, 2000]
print(list1)
list4 = ['math',2002]
list1.append(list4)
print(list1)

['phy', 'Che', 1997, 2000]
['phy', 'Che', 1997, 2000, ['math', 2002]]

In [ ]:
#This method returns index of the found object otherwise raise an exception
print(list1)
print(list1.index('phy'))
print(list1.index('Che'))
print(list1.index('sci')) #sci is not present in the list

['phy', 'Che', 1997, 2000, ['math', 2002]]
0
1

ValueError: ignored

In [ ]:
#Python list method insert() inserts object obj into list at offset index
print(list1)
list1.insert( 3, 'Name')
print(list1)

['phy', 'Che', 1997, 2000, ['math', 2002]]
['phy', 'Che', 1997, 'Name', 2000, ['math', 2002]]

In [ ]:
#Python list method pop() removes and returns last object or obj from the list
print(list1)
print(list1.pop()) #Removes and returns the last object
print(list1)

print(list1.pop(2)) #Removes and returns the object at index 2
print(list1)

['phy', 'Che', 1997, 'Name', 2000, ['math', 2002]]
['math', 2002]
['phy', 'Che', 1997, 'Name', 2000]
1997
['phy', 'Che', 'Name', 2000]

In [ ]:
#Python list method remove() searches for the given element in the list 
# and removes the first matching element
print(list1)
print(list1.remove(2000))
print(list1)

['phy', 'Che', 'Name', 2000]
None
['phy', 'Che', 'Name']

In [ ]:
#This method does not return any value but reverse the given object from the list
print(list1)
list1.reverse()
print(list1)

['phy', 'Che', 'Name']
['Name', 'Che', 'phy']

In [ ]:
#Python list method sort() sorts objects of list
print(list2)
list2.sort()#Default sort will be asc order
print(list2)
list2.sort(reverse=True)#Reverse=True will sort desc order
print(list2)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Looping on list item
for i in list2:
  print(i,end=" ")

7 6 5 4 3 2 1

In [ ]:
list1 = ['phy', 'Che', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print(list1+list2) #Concatenation
print(list1*2) #Repetition
print("2001 in list1: ", 2001 in list1) #Membership
print(max(list2)) #This method returns the elements from the list with maximum value
print(min(list2)) #Returns item from the list with min value
list1.append( 2009 ) #appends a passed obj into the existing list
print(list1)
print(list1.count(2000)) #This method returns count of how many times obj occurs in list.
list4 = ['math',2002]
list1.extend(list4) #Extend: add the content to existing list
print(list1)
list4 = ['math',2002]
list1.append(list4)
print(list1)
print(list1.index('phy')) #This method returns index of the found object otherwise raise an exception
list1.insert( 3, 'Name') #inserts object obj into list at offset index
print(list1)
print(list1.pop()) #Removes and returns the last object
print(list1)
print(list1.remove(2000)) #searches for the given element in the list and removes the first matching element
print(list1)
list1.reverse() #This method does not return any value but reverse the given object from the list
print(list1)
list2.sort(reverse=True)#Reverse=True will sort desc order
print(list2)

#Python Tuples

In [ ]:
#Declaring tuples
tup1 = ('phy', 'che', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup4 = tuple(list3)

In [ ]:
print(type(tup1))
print(type(tup2))
print(type(tup3))
print(type(tup4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
print(tup1)
print(tup2)
print(tup3)
print(tup4)

('phy', 'che', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
('xyz', 'zara', 'abc')

In [ ]:
#Slicing and indexing
print(tup1[0])
print(tup1[1:4])
print(tup1[-1])

phy
('che', 1997, 2000)
2000

In [ ]:
#Return type of Values in Tuples
print(type(tup1[0]))
print(type(tup1[1:4]))

<class 'str'>
<class 'tuple'>

In [ ]:
# Following action is valid for lists and not valid for tuples
list1[2] = 100
tup1[0] = 100

TypeError: ignored

In [ ]:
# We can create a new tuple from existing tuples
tup4 = tup1 + tup2
print (tup4)

('phy', 'che', 1997, 2000, 1, 2, 3, 4, 5)

In [ ]:
#Delete complete Tuple
#Removing individual tuple elements is not possible
print(tup4)
del tup4
print ("After deleting tup4: ")
print (tup4);

('phy', 'che', 1997, 2000, 1, 2, 3, 4, 5)
After deleting tup4:

NameError: ignored

In [ ]:
#Indexing, Slicing
print(tup3)
print(tup3[2])
print(tup3[-2])
print(tup3[2:])

('a', 'b', 'c', 'd')
c
c
('c', 'd')

#Python - Dictionary

In [ ]:
#Declaring and accessing Dictionary
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict1['Name'])
print ("dict['Age']: ", dict1['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [ ]:
#access a data item with a key, which is not part of the dictionary, we get an error
print ("dict1['Alice']: ", dict1['Alice'])

KeyError: ignored

In [ ]:
#Type of object
print(type(dict1))

<class 'dict'>

In [ ]:
#You can update a dictionary by adding a new entry or a key-value pair,
# modifying an existing entry, or deleting an existing entry
dict1['Age'] = 8 # update existing entry
dict1['School'] = "DPS School"; # Add new entry

print (dict1['Age'])
print (dict1['School'])

8
DPS School

In [ ]:
#You can either remove individual dictionary elements or clear the entire contents of a 
# dictionary. You can also delete entire dictionary in a single operation.
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict1)
del dict1['Name'] # remove entry with key 'Name'
print(dict1)
dict1.clear()     # remove all entries in dict
print(dict1)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}
{'Age': 7, 'Class': 'First'}
{}

In [ ]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict1        # delete entire dictionary
print(dict1)

NameError: ignored

In [ ]:
#Built-in Dictionary Functions & Methods
#len, type 
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(len(dict1))
print(dict1)

3
{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [ ]:
#Copy function
dict2 = dict1.copy()
print(dict2)
print(id(dict1))
print(id(dict2))

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}
140497635718240
140497635326144

In [ ]:
dict1['Age'] = 8
print(dict1)
print(dict2)

{'Name': 'Zara', 'Age': 8, 'Class': 'First'}
{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [ ]:
#creates a new dictionary with keys from seq and values set to None
seq = ('name', 'age', 'sex')
dict1 = dict.fromkeys(seq)
print(dict1)

{'name': None, 'age': None, 'sex': None}

In [ ]:
#creates a new dictionary with keys from seq and values 10
seq = ('name', 'age', 'sex')
dict1 = dict.fromkeys(seq,100)
print(dict1)

{'name': 100, 'age': 100, 'sex': 100}

In [ ]:
#This method return a value for the given key. If key is not available, 
#then returns default value None
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict1.get('Age'))
print(dict1.get('School'))
print(dict1['School'])

7
None

KeyError: ignored

In [ ]:
#str: Produces a printable string representation of a dictionary
print(str(dict1))
print(type(str(dict1)))

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}
<class 'str'>

In [ ]:
#returns a list of dict's (key, value) tuple pairs
print(dict1.items())

dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])

In [ ]:
#keys() returns a list of all the available keys in the dictionary.
dict1 = {'Name': 'Zara', 'Age': 7}
print (dict1.keys())

dict_keys(['Name', 'Age'])

In [ ]:
#update() adds dictionary dict2's key-values pairs in to dict
dict1 = {'Name': 'Zara', 'Age': 7}
dict2 = {'Sex': 'female' }

dict1.update(dict2)
print (dict1)

{'Name': 'Zara', 'Age': 7, 'Sex': 'female'}

In [ ]:
#values() returns a list of all the values available in a given dictionary
dict1 = {'Name': 'Zara', 'Age': 7}
print (dict1.values())
print (type(dict1.values()))

dict_values(['Zara', 7])
<class 'dict_values'>

In [ ]:
list1 = [1,2,3,4]
for i in list1:
  print(i)

1
2
3
4

In [ ]:
#Write a for loop on dictionary items
for item in dict1.items():
  print(item)

('Name', 'Zara')
('Age', 7)

In [ ]:
#Using items to get the tuple and taking individual entries of tuple in two variables
for k1,v1 in dict1.items():
  print(k1,v1)

Name Zara
Age 7

In [ ]:
#Using dictionary in a loop
for u in dict1:
  print(u)

Name
Age

In [ ]:
#Using dictionary in a loop
for u in dict1:
  print("Key:", u, "and Value:", dict1[u])

Key: Name and Value: Zara
Key: Age and Value: 7

In [ ]:
#Using dictionary keys in a loop
for u in dict1.keys():
  print(u)

Name
Age

In [ ]:
#Using dictionary values in a loop
for i in dict1.values():
  print(i)

Zara
7

In [ ]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'} #Declaring Dictionary
print ("dict['Name']: ", dict1['Name']) #Accessing Dictionary
print ("dict1['Alice']: ", dict1['Alice']) #access a data item with a key, which is not part of the dictionary, we get an error
print(type(dict1))
dict1['Age'] = 8 # update existing entry
dict1['School'] = "DPS School"; # Add new entry
del dict1['Name'] # remove entry with key 'Name'
print(dict1)
dict1.clear()     # remove all entries in dict
print(dict1)
del dict1        # delete entire dictionary
print(dict1)
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(len(dict1))
dict2 = dict1.copy() #Copy function
print(dict2) 
seq = ('name', 'age', 'sex')
dict1 = dict.fromkeys(seq,100)
print(dict1)
print(dict1.get('Age'))
dict1 = {'Name': 'Zara', 'Age': 7}
dict2 = {'Sex': 'female' }
dict1.update(dict2)
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1.items())

for u in dict1: #Using the dict object directly
  print(u)
for u in dict1.keys(): #Using dict keys
  print(u)
for i in dict1.values(): #Using dict valuess
  print(i)
for item in dict1.items(): #Using dict items
  print(item)
for k1,v1 in dict1.items(): #Using dict items and taking key and values
  print(k1,v1)

Assignments

List
1. Write a program to perform following operations on list a. Create an empty list b. A list with elements c. Use * operator d. Reverse a list
2. Write a Python program to count the number of words in a list where the length of string is two or more and first and last character of the word is same
3. Write a program to find the sum and average of the list and print sorted list. Also find largest and smallest number

Tuples
1. Write a program to perform a. Create a tuple with different datatypes b. Create a tuple with integers c. Create a tuple by addidtion 9 to previous tuple d. count the occurrences of an element in a tuple e. perform slicing on the tuple
2. Write a program to check whether the given tuple - (1,2,3,3,2,1) is a palindrome
3. Create a tuple weather with these elements (1,0,0,0,1,1,0). If the element is 1 then value of rainy increases by 1 otherwise the value of sunny increases by 1. On the basis of the value of rainy and sunny predict the weather in 3 weeks from now.

Dictionary
1. Create a dictionary that consists of - name, class, subjects (subjest is a list of subjects) for a student
2. Create a dictionary of students which constitutes id and details. details is a dictonay created above.
3. Create dictionary of students as above with 4 entries of students. Remove duplicate entry as per ID
4. Write a program to check for frequency of a value in dictionary values
5. Write a program to return country code of various counties. {'India' : '0091','Australia' : '0025','Nepal' : '00977'}

#Date and Time (optional)

In [ ]:
#Ticks
import time;  # This is required to include time module.

ticks = time.time()
print ("Number of ticks since 12:00am, January 1, 1970:", ticks)

Number of ticks since 12:00am, January 1, 1970: 1646136094.4742143

In [ ]:
#Getting current time
localtime = time.localtime(time.time())
print ("Local current time :", localtime)

Local current time : time.struct_time(tm_year=2022, tm_mon=3, tm_mday=1, tm_hour=12, tm_min=2, tm_sec=4, tm_wday=1, tm_yday=60, tm_isdst=0)

In [ ]:
#Getting formatted time
localtime = time.asctime( time.localtime(time.time()) )
print ("Local current time :", localtime)

Local current time : Tue Mar  1 12:04:30 2022

In [ ]:
#Getting calendar for a month
import calendar

cal = calendar.month(2008, 1)
print ("Here is the calendar:")
print (cal)

Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

Assignment Time
1. Write a program to check the current date and time
2. Write a program to generate a random date and time from the given start and end dates

In [ ]:
import random #importing module
import time

def getRandomDate(startDate, endDate ): #defining function
    print("Printing random date between", startDate, " and ", endDate)
    randomGenerator = random.random()
    dateFormat = '%m/%d/%Y'

    startTime = time.mktime(time.strptime(startDate, dateFormat))
    endTime = time.mktime(time.strptime(endDate, dateFormat))

    randomTime = startTime + randomGenerator * (endTime - startTime)
    randomDate = time.strftime(dateFormat, time.localtime(randomTime))
    return randomDate
#display result
print ("Random Date = ", getRandomDate("1/1/2016", "12/12/2018"))

Printing random date between 1/1/2016  and  12/12/2018
Random Date =  04/15/2018